SYNAPSE_URL='http://localhost:8008'
REGISTRATION_SHARED_SECRET='look in your synapses homeserver.yaml'
AS_TOKEN='look in the app-service.yaml'
EXCLUDED_USERS='rocket.cat' # Comma-separated list of usernames or IDs
INCLUDED_ROOMS='' # Comma-separated list of room names, IDs, or semicolon-separated usernames (for DMs) to migrate.
# Example: INCLUDED_ROOMS='general,alice;bob,9y8x7z6a5b4c3d2e1'
CHANNEL_MAPPINGS='' # Comma-separated list of Rocket.Chat channel name to Matrix channel name mappings.
# Example: CHANNEL_MAPPINGS='general:lounge,random:off-topic'
USER_MAPPINGS='' # Comma-separated list of Rocket.Chat username to Matrix username mappings for SSO compatibility.
# Example: USER_MAPPINGS='old.name:new.name,somename:othername'
ADMIN_USERNAME='admin' # The login name of the Rocket.Chat admin/new Matrix admin
ADMIN_PASSWORD='verySecretPassword' # The password of the Rocket.Chat admin/new Matrix admin
